
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Center Content */

.centered { 
  margin:0 auto;
  width:1000px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

@font-face {
    font-family: 'brandon_grotesquebold_italic';
    src: url('fonts/brandon_bld_it-webfont.eot');
    src: url('fonts/brandon_bld_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_bld_it-webfont.woff') format('woff'),
         url('fonts/brandon_bld_it-webfont.ttf') format('truetype'),
         url('fonts/brandon_bld_it-webfont.svg#brandon_grotesquebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('fonts/brandon_bld-webfont.eot');
    src: url('fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_bld-webfont.woff') format('woff'),
         url('fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesqueblack_italic';
    src: url('fonts/brandon_blk_it-webfont.eot');
    src: url('fonts/brandon_blk_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_blk_it-webfont.woff') format('woff'),
         url('fonts/brandon_blk_it-webfont.ttf') format('truetype'),
         url('fonts/brandon_blk_it-webfont.svg#brandon_grotesqueblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('fonts/brandon_blk-webfont.eot');
    src: url('fonts/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_blk-webfont.woff') format('woff'),
         url('fonts/brandon_blk-webfont.ttf') format('truetype'),
         url('fonts/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquelight_italic';
    src: url('fonts/brandon_light_it-webfont.eot');
    src: url('fonts/brandon_light_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_light_it-webfont.woff') format('woff'),
         url('fonts/brandon_light_it-webfont.ttf') format('truetype'),
         url('fonts/brandon_light_it-webfont.svg#brandon_grotesquelight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('fonts/brandon_light-webfont.eot');
    src: url('fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_light-webfont.woff') format('woff'),
         url('fonts/brandon_light-webfont.ttf') format('truetype'),
         url('fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'brandon_grotesqueMdIt';
    src: url('fonts/brandon_med_it-webfont.eot');
    src: url('fonts/brandon_med_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_med_it-webfont.woff') format('woff'),
         url('fonts/brandon_med_it-webfont.ttf') format('truetype'),
         url('fonts/brandon_med_it-webfont.svg#brandon_grotesqueMdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('fonts/brandon_med-webfont.eot');
    src: url('fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_med-webfont.woff') format('woff'),
         url('fonts/brandon_med-webfont.ttf') format('truetype'),
         url('fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesqueRgIt';
    src: url('fonts/brandon_reg_it-webfont.eot');
    src: url('fonts/brandon_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_reg_it-webfont.woff') format('woff'),
         url('fonts/brandon_reg_it-webfont.ttf') format('truetype'),
         url('fonts/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('fonts/brandon_reg-webfont.eot');
    src: url('fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_reg-webfont.woff') format('woff'),
         url('fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquethin_italic';
    src: url('fonts/brandon_thin_it-webfont.eot');
    src: url('fonts/brandon_thin_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_thin_it-webfont.woff') format('woff'),
         url('fonts/brandon_thin_it-webfont.ttf') format('truetype'),
         url('fonts/brandon_thin_it-webfont.svg#brandon_grotesquethin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('fonts/brandon_thin-webfont.eot');
    src: url('fonts/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_thin-webfont.woff') format('woff'),
         url('fonts/brandon_thin-webfont.ttf') format('truetype'),
         url('fonts/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: normal;
    font-style: normal;

}
		
body { 
		margin-right:auto;
		margin-left:auto; 
		width: 100% 
		text-align:center;
		max-width:2000px;
		min-width:500px;
		background-color:lemonchiffon;
		
		}
#background {
		height:890px;
		width:1200px;
		background-image: url(images/Study_DeskBackground.jpeg);
		background-repeat:no;
		position:relative;
		margin:0 auto;
}
#topinfo {
	position:relative;
	left:130px;
	top:10px;
}

h1 {
	font-family: 'brandon_grotesqueblack';
	font-size:3em;
	margin-left:20px;
}
h1 #NEW{
	font-family: 'brandon_grotesquemedium';
	font-size:3em;
	margin-left:20px;
}
h2 {
	font-family: 'brandon_grotesque_regularRg';
	font-size:2em;
	margin-left:20px;
}
h3 {
	font-family: 'brandon_grotesqueRgIt';
	font-size:1.7em;
	margin-left:20px;
}
h4 {
	font-family: 'brandon_grotesqueRgIt';
	font-size:1em;
	margin-left:20px;
}
p {
	font-family: 'brandon_grotesque_regularRg';
	font-size:1em;
	width:430px;
	margin-left:90px;
}
img {
width:100%;

}
#todo {
	width:90px;
	height:20px;
	position:relative;
	top:220px;
	left:170px;
	z-index:3
}


.info {
	display:none;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index:2;
	top:-300px;
	left:-170px;
	
}
.info img {
	position:relative;
	width: 90px;
	top: 300px;
	left: 170px;

}


#sticky1 {
	width:90px;
	height:20px;
	position:relative;
	top:330px;
	left:50px;
	z-index:4

}

#sticky1 .info img {
	position:relative;
	width: 90px;
	top: 428px;
	left: 47px;
	

}


#sticky1 a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -430px;
	left: -50px;
	
}

#sticky2 {
	width:80px;
	height:20px;
	position:relative;
	top:70px;
	left:60px;
	z-index:4

}

#sticky2 .info img {
	position:relative;
	width: 78px;
	top: 191px;
	left: 60px;

}

#sticky2 a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -190px;
	left: -60px;
	
}


#sticky3 {
	width:90px;
	height:20px;
	position:relative;
	top:500px;
	left:50px;
	z-index:4

}

#sticky3 .info img {
	position:relative;
	width: 90px;
	top: 639px;
	left: 47px;

}

#sticky3 a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -640px;
	left: -49px;
	
}

#timer {
	width:100px;
	height:50px;
	position:relative;
	top:500px;
	left:320px;
	z-index:4

}

#timer .info img {
	position:relative;
	width: 90px;
	width: 99px;
	top: 662px;
	left: 320px;

}
#timer a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -660px;
	left: -319px;
	
	
}


#tea {
	width:140px;
	height:60px;
	position:relative;
	top:560px;
	left:210px;

}
#tea .info img {
	position:relative;
	width: 140px;
	top: 768px;
	left: 209px;
	z-index:4

}
#tea a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -770px;
	left: -210px;
	
}

#sticky4 {
	width:90px;
	height:20px;
	position:relative;
	top:300px;
	left:700px;
	z-index:4

}
#sticky4 .info img {
	position:relative;
	width: 88px;
	top: 571px;
	left: 700px;

}
#sticky4 a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -570px;
	left: -699px;
	
}

#sticky5 {
	width:90px;
	height:20px;
	position:relative;
	top:200px;
	left:350px;
	z-index:4

}
#sticky5 .info img {
	position:relative;
	width: 88px;
	top: 490px;
	left: 351px;

}
#sticky5 a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -490px;
	left: -351px;
	
}

#sticky6 {
	width:90px;
	height:20px;
	position:relative;
	top:250px;
	left:950px;
	z-index:4

}
#sticky6 .info img {
	position:relative;
	width: 90px;
	top: 558px;
	left: 950px;

}
#sticky6 a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -560px;
	left: -951px;
	
}

#masonjar {
	width:140px;
	height:20px;
	position:relative;
	top:90px;
	left:470px;

}
#masonjar .info img {
	position:relative;
	width: 140px;
	top: 420px;
	left: 467px;

}
#masonjar a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index:4;
	top: -420px;
	left: -469px;
	
}

#sketchbook {
	width:350px;
	height:100px;
	position:relative;
	top:370px;
	left:560px;

}
#sketchbook .info img {
	position:relative;
	width: 350px;
	top: 719px;
	left: 560px;

}
#sketchbook a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index:4;
	z-index: 4;
	top: -720px;
	left: -560px;
}

#weekly {
	width:300px;
	height:50px;
	position:relative;
	top:-210px;
	left:350px;

}
#weekly .info img {
	position:relative;
	width: 300px;
	top: 240px;
	left: 350px;

}
#weekly a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -241px;
	left: -349px;
}

#calendar {
	width:500px;
	height:20px;
	position:relative;
	top:-300px;
	left:670px;

}
#calendar .info img {
	position:relative;
	width: 500px;
	top: 200px;
	left: 670px;

}
#calendar a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	left: -669px;
	top: -200px;
	z-index: 4;
	
}

#moleskine {
	background-image: url(images/moleskine.png);
	width:260px;
	height:126px;
	position:relative;
	top:210px;
	left:940px;

}
#moleskine a {
	position: absolute;
	width: 200px;
	height: 100px;
	}
	
#moleskine .info img {
	position:relative;
	width: 369px;
	top: 725px;
	left: 937px;

}
#moleskine a:active + .info {
	display:block;
	width:1200px;
	height:890px;
	background: rgba(54, 25, 25, .8);
	position:absolute;
	z-index: 4;
	top: -730px;
	left: -940px;
	
}


