

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


body { 
		margin:0 auto; 
		width: 900px; 
		text-align:center;
		}
header {
		position:relative;
		height:200px;
		}
header#site-header a { 
		position:absolute;
		float:left;
		display:block; 
		 width:300px; 
		height:80px; 
		background:url(images/dogsvscat-logo.gif) no-repeat top left; 
		text-indent:-9999px; 
		}
		
nav#top-menu { 
		position:absolute;
		float:left; 
		background-color:white;
		margin:20px; 
		border-top:4px solid black;
		border-bottom:4px solid black;
		}
		
		
#top-menu ul {
		margin:0 auto;
		width:900px;
		list-style-type:disc;
		}
		
#top-menu li {		
		float:left; 
		margin-left:20px; 
		margin-right:20px; 
		background-color:white;
		padding:20px;
}

#top-menu li a { 
		font-size:130%; 
		text-align:center; 
		text-decoration:none;
		}

section#content { 
		position:relative; 
		background-color:white; 
		float:left; 
		width:45%; 
		margin:20px; 
		}
		
section#content img {
		width:80%; 
		margin:20px;
		float:left;
		}
		
section#content h1 { 
		text-align:left; 
		background-color:white; 
		margin:20px; 
		font-size:200%;
		float:left;
		}
		
section#content p { 
		text-align:left; 
		background-color:white; 
		margin:20px; 
		font-size:90%;
		width:80%;
		float:left;
		}
		
footer#site-footer { 
		background-color:white; 
		padding:10px; 
		clear:both; 
		position:relative; 
		}
		
footer#footer-nav { 
		background-color:white; 
		top:0; left:0; 
		margin:10px; 
		width:100px; 
		}
		
#footer-nav li { 
		float:left; 
		margin-left:20px; 
		margin-right:20px; 
		background-color:white; 
		}
		

