

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

 
 
body { 
		margin:0 auto; 
		width: 100% 
		text-align:center;
		min-width:500px;
		
		}
		
header {
		z-index:auto;
		padding-top:20px;
		width:100%;
		margin:0 auto;
		
		}
		
div#img_wrap {
		width:30%;
		margin:0 auto;
		
		}

#site-wrapper {
		width:100%;
		margin:0 auto;
		max-width:1024px;
		
		}

header.site-header ul { 
		position: absolute;
		top: 50px;
		right: 120px;
		width: 22%;
		height: 20px;
		}
	
@media screen and (max-width:800px) {
 header.site-header ul { right: 50px; }
 }

header.site-header ul li { 
		float:right;
		font-size:.9em;
		font-family: 'Armata', sans-serif;
		color:black;
		margin:0 auto;
		height:80px; 
		
		}

@media screen and (min-width:970px) {
 header.site-header ul li { font-size:1.2em; }
 }
@media screen and (min-width:700px) {
 header.site-header ul li { font-size:1em; }
 }
@media screen and (min-width:600px) {
 header.site-header ul li { font-size:.8em; }
}
@media screen and (min-width:300px) {
 header.site-header ul li { font-size:.6em;}
 }

		
header.site-header ul li a { 
		float:right;
		font-family: 'Armata', sans-serif;
		text-align:center; 
		text-decoration:none;
		text-transform:uppercase;
		color:black;
		margin:0 auto;
		height:80px; 
		
		}
		
#display_search {
		background: url(images/search_bg.gif) no-repeat 0 0;
		position: absolute;
		right: 120px;
		width: 147px;
		top: 64px;
		}

@media screen and (max-width:800px) {
 #display_search { display:none; }
 }
		
#search_submit {
		background: none;
		border: 0px solid black;
		color: white;
		cursor: pointer;
		display: block;
		float: right;
		height: 18px;
		margin: 0;
		padding: 0;
		text-align: right;
		width: 17px;
		}

#search_input {
		border: 0px solid black;
		color: #AAA;
		display: block;
		float: left;
		font-family: 'Armata', sans-serif;
		margin: 0;
		padding: 0px 3px;
		text-align: left;
		width: 122px;
		background: none;
		
		}
@media screen and (min-width:970px) {
 #search_input {  }
 }
@media screen and (min-width:700px) {
 #search_input { font-size:1em; }
 }
@media screen and (min-width:600px) {
 #search_input { font-size:.8em; }
}
@media screen and (min-width:300px) {
 #search_input { font-size:.6em; }
 }

img {
		margin:0 auto;
		width:100%;
		
		}

#shipping p { 
		text-align: right;
		position: absolute;
		right: 117px;
		width: 21%;
		top: 90px;
		font-size: .6em;
		font-family: 'Armata', sans-serif;
		
		}

@media screen and (max-width:1000px) {
 #shipping p { display:none; }
 }
		
nav-wrapper {
		width:100%;
		border-top:2px solid black;
		border-bottom:4px solid black;
		}
		
nav#top-menu {  
		height:50px;
		margin-top:20px; 
		border-top:2px solid black;
		border-bottom:4px solid black;
		
		}
		
#top-menu ul {
		margin:0 auto;
		text-align:center;
		list-style-position:outside;
		height:50px;
		font-size:1.3em;
		
		}

#top-menu ul#dropdown {
		display:none;
		list-style:none;
		font-size:.6em;
		
		}

 @media screen and (max-width:970px) {
 #top-menu ul { font-size:1.2em;}
 }
@media screen and (max-width:700px) {
 #top-menu ul { font-size:1em; }
 }
@media screen and (max-width:600px) {
 #top-menu ul { font-size:.8em; }
 }
 

#top-menu ul li span {
		list-style-type:none;
		margin:0 auto;
		
		}
		
#top-menu ul#shop{
		width:45%;
		float:left;
		margin-left:5%;
		
		}
@media screen and (min-width:300px) {
 #top-menu ul#shop { margin-left:1%;}
 }
@media screen and (min-width:500px) {
 #top-menu ul#shop { margin-left:2%;}
 }
@media screen and (min-width:700px) {
 #top-menu ul#shop { margin-left:3%;}
 }
@media screen and (min-width:1000px) {
 #top-menu ul#shop { margin-left:4%;}
 }
@media screen and (min-width:1100px) {
 #top-menu ul#shop { margin-left:5%;}
 }

@media screen and (min-width:300px) {
 #top-menu ul#shop li { margin-left:2px; margin-right:2px; padding-left:1px; 
 padding-right:1px;}
 }		
@media screen and (min-width:500px) {
 #top-menu ul#shop li { margin-left:3px; margin-right:3px; padding-left:3px; 
 padding-right:3px;}
 }
@media screen and (min-width:700px) {
 #top-menu ul#shop li { margin-left:6px; margin-right:6px; padding-left:4px; 
 padding-right:4px;}
 }
@media screen and (min-width:990px) {
 #top-menu ul#shop li { margin-left:8px; margin-right:8px; padding-left:4px; 
 padding-right:4px;}
 }
@media screen and (min-width:1100px) {
 #top-menu ul#shop li { margin-left:11px; margin-right:11px; padding-left:5px; 
 padding-right:5px;}
 }
 @media screen and (min-width:1300px) {
 #top-menu ul#shop li { margin-left:15px; margin-right:15px; padding-left:5px; 
 padding-right:5px;}
 }

#top-menu ul#blog{
		width:45%;
		float:right;
		margin-right:-6%;
		
		}
		
@media screen and (min-width:300px) {
 #top-menu ul#blog { margin-right:-1px;
 width:54%;}
 }
@media screen and (min-width:500px) {
 #top-menu ul#blog { margin-right:-1px;
 width:53%;}
 }
@media screen and (min-width:700px) {
 #top-menu ul#blog { margin-right:-2px;
 width:50%;}
 }
@media screen and (min-width:1000px) {
 #top-menu ul#blog { margin-right:-2px;}
 }
@media screen and (min-width:1100px) {
 #top-menu ul#blog { margin-right:-2px;}
 }
		
#top-menu li {		
		float:left;
		margin-left:15px; 
		margin-right:15px; 
		padding:13px;
		
		}

#top-menu ul#blog li {		
		float:left;
		margin-left:5px; 
		margin-right:5px; 
		padding:13px;
		
		}

@media screen and (min-width:300px) {
 #top-menu ul#blog li { margin-left:1px; margin-right:1px; padding-left:1px; 
 padding-right:1px;}
 }
@media screen and (min-width:500px) {
 #top-menu ul#blog li { margin-left:2px; margin-right:2px; padding-left:1px; 
 padding-right:1px;}
 }
@media screen and (min-width:700px) {
 #top-menu ul#blog li { margin-left:2px; margin-right:2px; padding-left:1px; 
 padding-right:1px;}
 }
@media screen and (min-width:990px) {
 #top-menu ul#blog li { margin-left:8px; margin-right:8px; padding-left:3px; 
 padding-right:3px;}
 }
@media screen and (min-width:1100px) {
 #top-menu ul#blog li { margin-left:11px; margin-right:11px; padding-left:5px; 
 padding-right:5px;}
 }
 @media screen and (min-width:1300px) {
 #top-menu ul#blog li { margin-left:15px; margin-right:15px; padding-left:5px; 
 padding-right:5px;}
 }

#top-menu li#line {	
		vertical-align:bottom;	
		float:left;
		margin-left:1px; 
		margin-right:1px; 
		
		}
#top-menu ul#shop li#line {	
		vertical-align:bottom;	
		float:left;
		margin-left:1px; 
		margin-right:1px; 
		
		}
@media screen and (min-width:300px) {
 #top-menu ul#shop li#line { margin-left:1px; margin-right:1px; padding-left:1px; 
 padding-right:1px;}
 }
@media screen and (min-width:500px) {
 #top-menu ul#shop li#line { margin-left:1px; margin-right:1px; padding-left:1px; 
 padding-right:1px;}
 }
@media screen and (min-width:700px) {
 #top-menu ul#shop li#line { margin-left:2px; margin-right:2px; padding-left:1px; 
 padding-right:1px;}
 }
@media screen and (min-width:990px) {
 #top-menu ul#shop li#line { margin-left:8px; margin-right:8px; padding-left:3px; 
 padding-right:3px;}
 }
@media screen and (min-width:1100px) {
 #top-menu ul#shop li#line { margin-left:11px; margin-right:11px; padding-left:5px; 
 padding-right:5px;}
 }
 @media screen and (min-width:1300px) {
 #top-menu ul#shop li#line { margin-left:15px; margin-right:15px; padding-left:5px; 
 padding-right:5px;}
 }

 
 #top-menu ul#blog li#line {	
		vertical-align:bottom;	
		float:left;
		margin-left:1px; 
		margin-right:1px; 
		
		}
@media screen and (min-width:300px) {
 #top-menu ul#blog li#line { margin-left:1px; margin-right:1px; padding-left:1px; 
 padding-right:1px;}
 }
@media screen and (min-width:500px) {
 #top-menu ul#blog li#line { margin-left:2px; margin-right:2px; padding-left:3px; 
 padding-right:3px;}
 }
@media screen and (min-width:700px) {
 #top-menu ul#blog li#line { margin-left:8px; margin-right:8px; padding-left:3px; 
 padding-right:3px;}
 }
@media screen and (min-width:990px) {
 #top-menu ul#blog li#line { margin-left:8px; margin-right:8px; padding-left:3px; 
 padding-right:3px;}
 }
@media screen and (min-width:1100px) {
 #top-menu ul#blog li#line { margin-left:11px; margin-right:11px; padding-left:5px; 
 padding-right:5px;}
 }
 @media screen and (min-width:1300px) {
 #top-menu ul#blog li#line { margin-left:11px; margin-right:11px; padding-left:5px; 
 padding-right:5px;}
 }

#top-menu li a { 
		padding-top:4px;
		display:block;
		font-size:.6em;
		font-family: 'Armata', sans-serif;
		text-decoration:none;
		text-transform:uppercase;
		color:black;
		
		}

ul#shop li{  
		list-style:none;
		float:left
		
		}

ul#shop li a{
		
		display:block;
		
		}
		
ul#shop li ul{
		z-index:3;
		display:none;
		
		}

ul#shop li:hover ul {
		background-color:none;
		display:block;
		position:absolute;
		margin-left:-10px;
		padding:0;
		
		}

ul#shop li:hover li {
		width:100px;
		margin-left:-10px;
		text-align:left;
		font-size:.6em;
		font-family: 'Armata', sans-serif;
		text-decoration:none;
		text-transform:uppercase;
		background-color:black;
		color:white;
		float:none;
		
		}

ul#shop li:hover li a {
		width:100px;
		font-size:.6em;
		font-family: 'Armata', sans-serif;
		text-decoration:none;
		text-transform:uppercase;
		background-color:black;
		color:white;
		
		}

ul#shop li li a:hover {
		color:grey;
		
		}

section#content { 
		font-family: 'Armata', sans-serif;
		background-color:white;  
		width:90%; 
		margin:0 auto;
		
		}

.rslides {
  		position: relative;
  		list-style: none;
  		overflow: hidden;
  		width: 100%;
  		padding: 0;
  		margin: 0;
  		
  		}

.rslides li {
  		position: absolute;
  		display: none;
  		width: 100%;
  		height:700px;
  		left: 0;
  		top: 0;
  		
  		}
@media screen and (min-width:300px) {
 .rslides li { height:250px;}
 }
@media screen and (min-width:500px) {
 .rslides li { height:300px;}
 }
 @media screen and (min-width:600px) {
 .rslides li { height:350px;}
 }
@media screen and (min-width:700px) {
 .rslides li { height:400px;}
 }
 @media screen and (min-width:800px) {
 .rslides li { height:450px;}
 }
@media screen and (min-width:950px) {
 .rslides li { height:500px;}
 }
@media screen and (min-width:1100px) {
 .rslides li { height:550px;}
 }
 @media screen and (min-width:1300px) {
 .rslides li { height:600px;}
 }

.rslides li:first-child {
  		position: relative;
  		display: block;
  		float: left;
  		
  		}

.rslides img {
  		display: block;
  		height: auto;
  		float: left;
  		width: 100%;
  		border: 0;
  		
  		}

section#content #blog {

		}
		
section#content img {
		width:96%; 
		margin:20px;
		float:left;
		}

section#content #blog a img {
		width:29%; 
		margin-top:20px;
		float:left;
		}
@media screen and (min-width:300px) {
 section#content #blog a img{ margin-left:20px; margin-right:-4px; }
 }
@media screen and (min-width:300px) {
 section#content #blog a img{ margin-left:20px; margin-right:-4px; }
 }		
@media screen and (min-width:500px) {
 section#content #blog a img{ margin-left:20px; margin-right:-2px; }
 }
@media screen and (min-width:700px) {
 section#content #blog a img{ margin-left:20px; margin-right:7px; }
 }
@media screen and (min-width:990px) {
 section#content #blog a img{ margin-left:20px; margin-right:10px; }
 }
@media screen and (min-width:1100px) {
 section#content #blog a img{ margin-left:20px; margin-right:14px; }
 }
 @media screen and (min-width:1300px) {
 section#content #blog a img{ margin:20px;}
 }
 
footer#site-footer { 
		background-color:white; 
		padding:10px; 
		clear:both;
		float:left;
		border-top:2px solid black;
		width:100%;
		position:relative;
		height:200px;
		
		}

#eList {
		border: 1px solid #C1C1C1;
		left:68px;
		position: absolute;
		top: 16px;
		
		}

#eList form {
		margin: 0;
		padding: 0;
		width: 100%;
		
		}

#elist_input {
		background: none;
		border: none;
		color: #AAA;
		font-family: 'Armata', sans-serif;
		font-size:.6em;
		margin: 0;
		padding: 0 5px;
		float: left;
		text-align: left;
		width: 190px;
		
		}

#elist_submit {
		background-color: #C1C1C1;
		border: none;
		color: white;
		cursor: pointer;
		float: right;
		font-family: 'Armata', sans-serif;
		font-size:.7em;
		margin: 0;
		padding: 0 0;
		text-align: center;
		text-transform: uppercase;
		width: 50px;

		}
		
footer#footer-nav { 
		background-color:white; 
		top:0; left:0; 
		margin:10px; 
		width:100px; 
		
		}
		
#footer-nav ul span {
		float:right;
		
		}
		
@media screen and (max-width:900px) {
 #footer-nav ul span { float:left; }
 }

#Copyright {
		margin-top:40px;
		margin-left:60px;
		float:left;
		width:20%;
		
}

#Copyright li {
		font-size:.8em;
		font-family: 'Armata', sans-serif;
		
}

#Copyright a {
		font-size:.8em;
		font-family: 'Armata', sans-serif;
		text-decoration:none;
		text-transform:uppercase;
		color:black;	

}

#my-account {
		margin-top:40px;
		float:right;
		width:20%;

}

#my-account li {
		font-size:.8em;
		font-family: 'Armata', sans-serif;
		
}

#my-account a {
		font-size:.8em;
		font-family: 'Armata', sans-serif;
		text-decoration:none;
		color:black;
		
}

#customer-service li {
		font-size:.8em;
		font-family: 'Armata', sans-serif;
		
}

#customer-service {
		margin-top:40px;
		float:right;
		width:20%;
}

#customer-service a {
		font-size:.8em;
		font-family: 'Armata', sans-serif;
		text-decoration:none;
		color:black;
		
}

#nic-dylan {
		margin-top:40px;
		float:right;
		width:20%;
}

#nic-dylan a {
		font-size:.8em;
		font-family: 'Armata', sans-serif;
		text-decoration:none;
		color:black;
			
}

#nic-dylan li {
		font-size:.8em;
		font-family: 'Armata', sans-serif;
		
}
		
#footer-nav li { 
		float:left; 
		margin-left:5px; 
		margin-right:5px; 
		background-color:white;
		text-transform:lowercase;
		
		}
		
#footer-nav li a {
		text-decoration:none;
		color:red;
		text-transform:lowercase;
		
		}


		

