
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Center Content */

.centered { 
  margin:0 auto;
  width:1000px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


body { 
	margin-right:auto;
	margin-left:auto; 
	width: 100% 
	text-align:center;
	max-width:1400px;
	min-width:500px;
	background-color:rgb(185, 137, 91);
		
		}
#background {
	height: 3152px;
	width:100%;
	background-image: url(images/paperbag.jpg);
	background-repeat:no;
	position:relative;
	margin:0 auto;
}
#site-wrapper {
	box-shadow: 1px -3px 22px rgb(0, 0, 0);
	}
	
#nav {
	opacity:.6;
	background-image: url(images/ripped_paper.png);
	width: 780px;
	height: 120px;
	margin: 0 auto;
	z-index:5;
	position:absolute;
	left: 330px;
}
#nav:hover {
	opacity:1;
}
.scrollblock {
	position: relative;
	margin: 0;
	width:100%;
	height:600px;

}
ul.nav {
	position:relative;
	margin:0 auto;
	width:100%;
	list-style-type:none;
	text-align:center;
	list-style-position:outside;
		
		}
		
ul.nav li a {	
	height:20px;	
	width:22%;
	margin-left:15px;
	float:left;
	margin-top:-15px;

		}
		
		
.nav li a img{		
	width:100%;
		}

#topinfo {
	margin-top:130px;
	position:absolute;
	width:99%;
	height:100px;
	border-top: 4px dashed rgba(0,1, 0, .5);
	border-bottom: 4px dashed rgba(0,1, 0, .5);
		
}
#topinfo h1 {
	font-family: 'Trocchi', serif;
	font-style:bold;
	font-size: 5.2em;
	position: absolute;
	top: 7px;
	left: 49px;
	z-index:1;
	
}
#topinfo h2 {
	font-family: 'Trocchi', serif;
	font-size: 3em;
	position: absolute;
	top: 120px;
	left: 450px;
	z-index:1;
	
}
#topinfo img {
	display:none;
	width:40%;
	position:absolute;
	left: 415px;
	top: -69px;
	z-index:1;
	
}
#section1 {
	position:absolute;
	top:890px;
	margin:0 auto;
	left: 200px;
	width:70%;
  }
  
#section1 div{
	margin:0 auto;
	width:100%;
  }
  
#section1 img#boston{
	width:80%;
	
}

#section1 li img#education{
	width: 128%;
	margin-left: -31px;
	
}
#section1 li img#conference{
	width: 128%;
	margin-left: 63px;
	margin-top: -14px;
	
}

#section1 li img#september{
	width:50%;
}

#section1 li img#bpl{
	width:80%;
	margin-left: -555px;
	margin-top: -14px;
}
#section1 ul{
	position:relative;
	margin:0 auto;
	width:100%;
	list-style-type:none;
	text-align:center;
	list-style-position:outside;	
}

#section1 #bec li{		
	width:30%;
	float:left;
		}
#section1 #date li{		
	width: 100%;
	margin-top: -133px;
	float: left;
		}
#section1 #place li{		
	width: 100%;
	float: left;
	margin-left: 245px;
	margin-top: -292px;
		}
#section1 #city li{		
	float:left;
		}
		
#section1 #city li{	
	width: 100%;
	float: left;
	margin-top: -690px;
	margin-left: -82px;
		}
		
#section1 #city li img{	
	width: 60%;
	position: absolute;
	margin-left: -500px;
	margin-top:100px;
		}

#section1 #map{		
	width: 40%;
	position: absolute;
	left: 236px;
	top: 320px;

		}
#section1 #map img{		
	box-shadow: 3px 1px 15px rgb(0, 0, 0);

		}
		
#middleline {
	margin-top: 50px;
	opacity:.7;
	position:absolute;
	width:100%;
	border-top:dashed;
	border-color:lightblue;
	z-index:0;
	
}

#maininfo {
	margin:0 auto;
	position:relative;
	}
	
#maininfo h1 {
	font-family: 'Trocchi', serif;
	font-style:bold;
	font-size:1.2em;
	margin:0 auto;
	}
	
#maininfo h2 {
	padding-top:5px;
	font-style:oblique;
	font-family: 'Trocchi', serif;
	margin:0 auto;
	}
	
#maininfo h3 {
	padding-top:5px;
	font-family: 'Trocchi', serif;
	margin:0 auto;
	}
	
#maininfo h4 {
	padding-top:5px;
	font-family: 'Trocchi', serif;
	margin:0 auto;
	}
	
#maininfo h5 {
	padding-top:5px;
	font-family: 'Trocchi', serif;
	margin:0 auto;
	}

#section2 {
	position:absolute;
	top: 320px;
	left: 280px;
	width: 60%;
	margin:0 auto;
  }

ul.names {
	float: left;
	width: 50%;
  }
  
div.name  {
	float:left;
  }

div.name img{
	width:100%;
	float:left;
  }
  
.img a:hover {
	display:block;

}


#section3 {
	position:absolute;
	top: 1700px;
	width:100%;
	margin:0 auto;
  }
#section3 #building{
	position: absolute;
	left: -400px;
	top: 18px;
	width: 50%;
	margin: 0 auto;
  }
#section3 #building img{
	width: 49%;
	margin:0 auto;
  }
#section3 #schedule{
	top: 18px;
	margin: 0 auto;
  }
#section3 #schedule img{
	width: 56%;
	margin:0 auto;
  }

#section4 {
	position: absolute;
	top: 2549px;
	width: 100%;
	margin: 0 auto;
  }
#section4 img{
	position: absolute;
	width: 1403px;
	margin: 0 auto;
  }
  #main-container{
    width:400px;
    margin:30px auto;
}

#form-container{
    background-color:#f5f5f5;
    padding:15px;

    /* rounded corners */
    -moz-border-radius:12px;
    -khtml-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius:12px;
}

td{
    /* prevent multiline text */
    white-space:nowrap;
}

a, a:visited {
    color:#00BBFF;
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:underline;
}

input{
font-family:'Trocchi';

}

#first_name{
	position: absolute;
	top: 106px;
	left: 254px;
	z-index: 3;
	width: 375px;
	height: 24px;
}

#last_name{
	position: absolute;
	top: 106px;
	left: 645px;
	z-index: 3;
	width: 363px;
	height: 24px;
}

#title {
	position: absolute;
	top: 106px;
	left: 1027px;
	z-index: 3;
	width: 119px;
	height: 24px;
}

#institution {
	position: absolute;
	top: 180px;
	left: 253px;
	z-index: 3;
	width: 437px;
	height: 24px;
}

#department {
	position: absolute;
	top: 180px;
	left: 708px;
	z-index: 3;
	width: 438px;
	height: 24px;
}
#address_1 {
	position: absolute;
	top: 257px;
	left: 253px;
	z-index: 3;
	width: 445px;
	height: 24px;
}

#address_2 {
	position: absolute;
	top: 257px;
	left: 716px;
	z-index: 3;
	width: 430px;
	height: 24px;
}

#city {
	position: absolute;
	top: 294px;
	left: 254px;
	z-index: 3;
	width: 193px;
	height: 24px;
}

#state {
	position: absolute;
	top: 294px;
	left: 463px;
	z-index: 3;
	width: 186px;
	height: 24px;
}

#zipcode {
	position: absolute;
	top: 294px;
	left: 667px;
	z-index: 3;
	width: 186px;
	height: 24px;
}

#country {
	position: absolute;
	top: 294px;
	left: 871px;
	z-index: 3;
	width: 275px;
	height: 24px;
}

#phone1 {
	position: absolute;
	top: 332px;
	left: 253px;
	z-index: 3;
	width: 245px;
	height: 24px;
}

#phone2 {
	position: absolute;
	top: 332px;
	left: 515px;
	z-index: 3;
	width: 250px;
	height: 24px;

}

#email {
	position: absolute;
	top: 332px;
	left: 783px;
	z-index: 3;
	width: 363px;
	height: 24px;
}

#message {
	position: absolute;
	top: 406px;
	left: 253px;
	z-index: 3;
	width: 894px;
	height: 98px;
}
#submit {
	position: absolute;
	top: 518px;
	left: 1055px;
	z-index: 3;
	width: 100px;
	height: 24px;
}
label{
    text-transform:uppercase;
    font-size:10px;
    font-family:'Trocchi', serif;;
}

textarea{
    color:#404040;
    font-family:'Trocchi', serif;
    font-size:12px;
}

td > button{
    /* A special CSS selector that targets non-IE6 browsers */
    text-indent:8px;
}

.error{
    /* this class is used if JS is disabled */
    background-color:#AB0000;
    color:white;
    font-size:10px;
    font-weight:bold;
    margin-top:10px;
    padding:10px;
    text-transform:uppercase;
    width:300px;
}

#loading{
    /* the loading gif is hidden on page load */
    position:relative;
    bottom:9px;
    visibility:hidden;
}

.tutorial-info{
    color:white;
    text-align:center;
    padding:10px;
    margin-top:10px;
}
#footer {
	width:100%;
	position:absolute;
	bottom:-2100px;
	}

#footer p {
	padding-top:5px;
	font-family: 'Trocchi', serif;
	width:32%;
	margin:0 auto;
	}
@-webkit-keyframes postit {
	0% {  -webkit-transform-origin:50% 50%;
			}
	25% {  -webkit-transform-origin:50% 50%;
			-webkit-transform: rotate(15deg);}
    50% { -webkit-transform-origin:50% 50%; 	
    	-webkit-transform: rotate(0deg);	}
   100% { 
      -webkit-transform: rotate(-15deg) ;
       -webkit-transform-origin:50% 50%; }
	}
	
@-webkit-keyframes todo {
	0% {  -webkit-transform-origin:50% 50%;
			}
	25% {  -webkit-transform-origin:50% 50%;
			-webkit-transform: rotate(5deg);}
    50% { -webkit-transform-origin:50% 50%; 	
    	-webkit-transform: rotate(0deg);	}
   100% { 
      -webkit-transform: rotate(-5deg) ;
       -webkit-transform-origin:50% 50%; }
	}
@-webkit-keyframes timer {
	0% {  -webkit-transform-origin:50% 0%;
			}
	25% {  -webkit-transform-origin:50% 0%;
			-webkit-transform: rotate(10deg);}
    50% { -webkit-transform-origin:50% 0%; 	
    	-webkit-transform: rotate(0deg);	}
   100% { 
      -webkit-transform: rotate(-10deg) ;
       -webkit-transform-origin:50% 0%; }
	}
	
@-webkit-keyframes spin {
	0% {-webkit-transform:scale(.7) rotate(1turn);
		}
   100% { -webkit-transform: scale(.7) rotate(3turn);
   			}
	}

#stool:hover {
    -webkit-animation: chairdrop 2s ease; 
  }
  
.hoverpost2:hover {
	-webkit-animation: todo .5s ease-in-out;
  -webkit-transform-origin:50%;
	}
.hoverpost:hover {
	-webkit-animation: postit .5s ease-in-out;
  -webkit-transform-origin:50%;
	}
#timer:hover {
	-webkit-animation: timer .2s ease-in-out;
	-webkit-animation-iteration-count:4;
  -webkit-transform-origin:100%;
	}
	