

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Center Content */

.centered { 
  margin:0 auto;
  width:800px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

		
#site-wrapper {
		background-color:#eef4d8;
		
		}
	

header {
		background-color:#eef4d8;
		height:80px;
		margin:0 auto;
		width:50%;

		}
		

header#site-header h1 a {
		background-color:red;
		text-decoration:none;
		font-size:0pt;
		width:0px;
		height:0px;
		float:left;
		
		}

header#site-header nav {
		float:right;
		width:20con0px;
		height:5px;
		margin-right:60px;
		
		}

header#site-header nav a {
		text-decoration:none;
		float:right;
		font-size:8pt;
		height:5px;
		color:#8B4500;
		padding:10px;

		}

header#site-header img {
		float:left;
		width:20%;
		
		}

#menu-wrapper {
		background-color:#8B4500;
		height:40px;

		}

nav#main-menu {
		background-color:#8B4500;
		margin:0 auto;
		width:50%;

		}

#main-menu ul {
		background-color:white;


		}

#main-menu li {
		float:left;
		background-color:#8B4500;
		padding:10px;
		margin-left:20px;
		margin:0 auto;
		
		}

#main-menu li a {
		text-align:center;
		text-decoration:none;
		color:white;
		text-transform:uppercase;
		font-fami

		}

#main-menu li a span {
		color:#9ACD32;
		
		}
		
#content-wrapper {
		background-color:none;
		clear:both;
		
		}

#content {
		height:50px;
		width:50%;
		padding:20px;
		margin:0 auto;

		}

article#page {
		width:60%;
		float:left;
		position:relative;
		font-family:"Museo-Sans";

		}

article#page h1 {
		text-align:left;
		color:#8B4500;
		float:left;
		width:140%;
		font-size:220%;
		margin-top:20px;
		font-family: "lobster",serif;
		padding-bottom:5px;
		
		}
		
article#page h2 {
		text-align:left;
		background-color:white;
		float:left;
		width:80%;
		font-size:100%;
		font-family:"Museo-Sans";
		text-transform:uppercase;
		color:#8B4500;
		font-variant:small-caps;
		padding-bottom:5px;
		
		}
		
article#page p {
		text-align:left;
		float:left;
		width:80%;
		font-size:7pt;
		color:7F5528;
		padding-bottom:5px;
		font-family:"Museo-Sans";
		
		}

aside#sidebar {
		float:left;
		width:20%;
		display:inline;
		font-family:"Verdana";
		
		}
		
aside#sidebar h1 {
		text-align:left;
		float:left;
		color:#8B4500;
		text-transform:uppercase;
		padding-bottom:5px;
		font-family:"Museo-Sans";
		
		}

aside#sidebar ul {
		margin:0 auto;
		float:left;
		padding-bottom:5px;
		font-family:"Museo-Sans";
		
		}

aside#sidebar li {
		float:left;
		background-color:white;
		
		}

aside#sidebar li a {
		float:left;
		color:#8B4500;
		font-size:8pt;
		
		}

aside#sidebar a img { 
		float:left;
		margin:0 auto;
		width:100%;
		padding-bottom:5px;
		
		}
#footer-wrapper {
		clear:both;
		background-color:#8B4500;
		
		}

footer#site-footer {
		background-color:#8B4500;
		height:100px;
		padding-top:40px;
		display:block;
		margin-top:5px;
		position:relative;
		margin:0 auto;
		width:50%;
		
		}

section#footer-contact {
		float:left;
		width:25%;
		text-align:left;
		display:block;
		
		}

section#footer-contact h1 {
		color:white;
		float:left;
		text-align:left;
		width:100%;
		text-transform:uppercase;
		font-family:"Verdana";
		
		}

section#footer-contact p {
		float:left;
		color:white;
		text-align:left;
		width:60%;
		font-size:8pt;
		font-family:"Verdana";
		
		}

section#footer-follow {
		float:right;
		background-color:#8B4500;
		width:20%;
		position:relative;
		text-align:left;
		font-family:"Museo-Sans";
		
		}

section#footer-follow h1 {
		float:left;
		color:white;
		width:100%;
		text-align:left;
		text-transform:uppercase;
		font-family:"Museo-Sans";
		
		}

section#footer-follow ul {
		float:left;
		height:20px;
		padding-top:10px;
		width:100%;
		
		}
		
section#footer-follow ul li {
		float:left;
		padding:-30px;
		
		}

section#footer-follow li a img {
		width:70%;
		
		}
